@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* LOADING SPINNER */

.lds-facebook {
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #302d48;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-facebook div:nth-child(1) {
            left: 8px;
            animation-delay: -0.24s;
        }

        .lds-facebook div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-facebook div:nth-child(3) {
            left: 56px;
            animation-delay: 0;
        }

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

/* Dropdown option hover background color */
.mud-dialog .mud-list-item-clickable:hover {
    background-color: lightgreen !important;
}

/* DIALOG */
.mud-dialog-title {
    background-color: #302d48;
    color: white;
    text-align: center;
}
    .mud-dialog-title button {
        color: white;
    }
    .mud-dialog-title h6 {
        font-weight: 400;
    }

/* ZIG ZAG BORDER */

.bill_container_before:before {
    background: linear-gradient( -45deg, #edf4e5 16px, transparent 0), linear-gradient( 45deg, #edf4e5 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    height: 32px;
}
.bill_container_after:after {
    background-color: #edf4e5;
    background: linear-gradient( -45deg, #fff 16px, transparent 0), linear-gradient( 45deg, #fff 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    height: 32px;
}

/* Tabs z-index 0 */

.mud-tabs-toolbar {
    z-index: 0 !important;
}